body{
    margin:0; padding:0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(9, 14, 18);
    color: white;
}
.container{
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    height:100%;
    width:100%;
    overflow:hidden;
    flex-wrap: wrap; 
}
#header{
    font-size: 10rem;
    margin: 0;
    background-color: violet;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/mandalorian/mando.jpg');
    background-size: cover;
    background-position: 20% 10%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 10px 10px 5px black;
    height: 300px;
}
#head{
    width: 100;
    background-color: rgb(27, 38, 48);
    line-height: 70px;
    font-size: 1.7rem;
    text-align: right;
    padding-right: 5%;
    position: sticky;
    color: white;
    flex-basis: 100%;
}
#head a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
#head a:hover{
    padding-right: 10px;
    text-decoration: none;
    color: rgb(65, 95, 124)
}
div:nth-child(3){
    flex-basis: 65%;
    line-height: 25px;
    padding-left: 15%;;
}
img{
    width: 40%;
    border: 5px solid rgb(27, 38, 48);
    border-radius: 25px;
    margin-right: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px black;}

#firstPic{float: left;}
#secondPic{float: right;}
#thirdPic{float: left;}
#forrasPC{
    flex-basis: 20%;
}
#forrasMob{
    display: none;
}
table{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 50px;
}
@media screen and (max-width: 1185px){
    #header{
        font-size: 8rem;
        margin: 0;
        background-color: violet;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/mandalorian/mando.jpg');
        background-size: cover;
        background-position: 20% 10%;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 5px 5px 5px black;
        height: 200px;
    }
    img{
        width: 60%;
        border-radius: 25px;
        margin-right: 20px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 768px) {
    #header{
        font-size: 4rem;
        margin: 0;
        background-color: violet;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/mandalorian/mando.jpg');
        background-size: cover;
        background-position: 20% 10%;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 5px 5px 5px black;
        height: 100px;
    }
    div:nth-child(3){
        flex-basis: 100%;
        padding-left: 5%;
        padding-right: 2%;
    }
    img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #forrasPC{
        display: none;
    }
    div:nth-child(3){
        grid-column: span 5;
        padding-left: 10%;
        padding-right: 10%;
    }
    #forrasMob, #forrasMob > ul{
       flex-basis: 100%;
        text-align: center;
        list-style: none;
        display: block;
    }
    table{
        display: none;
    }
}
#footer{
    width: 100%;
    text-align: center;
    line-height: 70px;
    color: white;
    background-color:  rgb(27, 38, 48);
}
li a, li h3{
    text-decoration: none;
    color: white;
    padding-right: 10%;
}
li a:hover{
    color: rgb(65, 95, 124)
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    background-color: peru;
    color: white;
}